/* Based on code at http://bl.ocks.org/fabiovalse/dfcd8104a79aed092af1
  Modified by Andrew Su on 2016-06-11 */ 


svg {
  background: white;
}

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 6px;
}

circle {
	stroke-width: 50px;
	fill: red;
	opacity: 0.1;
}

circle.level1{
	opacity: 1;
}