/* Based on code at http://bl.ocks.org/fabiovalse/dfcd8104a79aed092af1
  Modified by Andrew Su on 2016-06-11 */ 


svg {
  background: white;
}

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 6px;
}

circle {
	stroke-width: 50px;
	fill: red;
	opacity: 0.1;
}

/*
circle.level1, circle.level2 {
	opacity: 1;
}

circle.level3 {
	opacity: .5;
}

circle.level4 {
	opacity: .3;
}

circle.level5 {
	opacity: .15;
}

circle.level6 {
	opacity: .1;
}
*/